@import 'colors';


.paymentSuccess {
    background-color: $pink;
    width: 100%;
    height: 80vh;

    >main {
        height: 100%;
        background-color: #fff;
        max-width: 900px;
        margin: auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        >h1 {
            text-transform: uppercase;
            text-align: center;
            margin: 3rem;
            font: 100 3rem "Roboto";
        }

        >a{
            background-color: $red;
            border: none;
            color: #fff;
            margin: 5rem;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            outline: none;
            text-align: center;
            cursor: pointer;
            font-size: 1.1rem;
        }
    }
}